@import "http://webfonts.ru/import/aquarion.css";
/* @import "http://webfonts.ru/import/modernh.css";
@import "http://webfonts.ru/import/play.css";
@import "http://webfonts.ru/import/ubuntu.css"; */

body {
  background-image:url(/img/pattern-brushed.png);
  color: #333;
  -webkit-font-smoothing:antialiased;
}

::-webkit-scrollbar {width: 6px; height: 6px;}
::-webkit-scrollbar-track-piece {background-color: white;}
::-webkit-scrollbar-track-piece:no-button {}
::-webkit-scrollbar-thumb {background-color: #7D7D7D; border-radius: 3px;}
::-webkit-scrollbar-thumb:hover {background-color: #999;}
::-webkit-scrollbar-thumb:active {background-color: #666;}

::selection { text-shadow:none; color:#333; background:#FFFF66; }
::-moz-selection { text-shadow:none; color:#333; background:#FFFF66; }

.content_block {font-family: 'aquarion'; font-size: 1.1em; text-shadow: 1px -1px 0 #FFF;}
.content_block h1, .content_block h2, .content_block h3, .content_block h4, .content_block h5, .content_block h6 {font-family: 'aquarion';}
.content_block a {padding: 0.3em 0 0.15em;}
.content_block a:visited:not(:hover) {color: #8c64b4;}
.content_block a:hover {
  color: #0985ce;
  text-shadow: -1px 0 #fbfaf4, 1px 0 #fbfaf4, -2px -1px #fbfaf4, 2px -1px #fbfaf4, 0 -1px #fbfaf4, 0 -2px #fbfaf4, 0 -3px #fbfaf4, 0 -4px #fbfaf4, 0 -5px #fbfaf4, 0 -6px #fbfaf4;
  background: -webkit-linear-gradient(#0985ce, #0985ce 1px, rgba(255,255,255,0.9) 1px, rgba(255,255,255,0.9) 2px, transparent 2px) repeat-x;
  background: -moz-linear-gradient(#0985ce, #0985ce 1px, rgba(255,255,255,0.9) 1px, rgba(255,255,255,0.9) 2px, transparent 2px) repeat-x;
  background: -o-linear-gradient(#0985ce, #0985ce 1px, rgba(255,255,255,0.9) 1px, rgba(255,255,255,0.9) 2px, transparent 2px) repeat-x;
  background: -ms-linear-gradient(#0985ce, #0985ce 1px, rgba(255,255,255,0.9) 1px, rgba(255,255,255,0.9) 2px, transparent 2px) repeat-x;
  background: linear-gradient(#0985ce, #0985ce 1px, rgba(255,255,255,0.9) 1px, rgba(255,255,255,0.9) 2px, transparent 2px) repeat-x;
  -webkit-background-size: 1px 0.44em;
  -moz-background-size: 1px 0.44em;
  background-size: 1px 0.44em;
  background-position: -9px 100%;
}

.pull-right {float: right;}
.pull-left {float: left;}

h2.caption span, ul.personal-info .title, .btn, a.btn, a.btn:link, a.btn:visited:hover, a.btn:visited, a.btn:hover, .btn:hover, .btn-send, #header nav ul li.current-menu-item a { color:#fff; }

.btn:active, button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { background:#000; }

.edit_git {float:right; border:0;}
.edit_git:hover {background:#069;}
.list_posts ul {list-style:none;}
.list_posts li {margin: 0 0 2px;}
.list_posts li span {background: #EEE;width: 61px;}

.link_coz a {color: #ccc !important;}
.counter {position: absolute;right: 0;bottom: 30%;opacity: 0;}
.counter:hover {opacity: 1;}
.counter_item {margin: 0 0 3px;}

.breadcrumb {margin:0;padding:8px 0;}
.tags {font-size: 11px;}

pre {background:#FFF;}
ol.well, ul.well {list-style-position: inside; display: inline-block;}

.thanks {position: fixed; bottom: 10px; right: 10px; width: 20px; height: 20px; background: url(/img/pixelheart.png) no-repeat 0 0;}
.thanks div { opacity: 0; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -ms-transition: all 0.3s linear; -o-transition: all 0.3s linear; transition: all 0.3s linear; position: absolute;  left: -130px; bottom: 0; font-size: 10px; background: #CCC; padding: 5px; border-radius: 2px;}
.thanks:hover div {opacity: 1;}

.not_available,
.available {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0;
  position: relative;
  right: 7px;
  top: -1px;
}
.not_available {background: #ff0000; -webkit-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.75); -moz-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.75); box-shadow: 0px 0px 7px rgba(255, 0, 0, 0.75);}
.available {background: #00ff00; -webkit-box-shadow: 0px 0px 5px rgba(0, 255, 0, 0.75); -moz-box-shadow: 0px 0px 5px rgba(0, 255, 0, 0.75); box-shadow: 0px 0px 7px rgba(0, 255, 0, 0.75);}

#header .title h1 {position:relative;}
.rss_link {position:absolute; bottom:-27px; right:50px; background:url(/img/ico_rss.png) no-repeat 0 0; width:32px; height:32px;}
@media (max-width:989px){ .rss_link{right:41.8%;} }
@media (max-width:778px){ .rss_link {right:73.5%;} }
@media (max-width:490px){ .rss_link {right:57.6%;} }

.container {margin-top: 35px;}

.tags {
  clear: both;
  margin: 0 0 0 15px;
}
.tag_item {
  display: inline-block;
  height: 21px;
  margin: 0 10px 0 5px;
  padding: 0 7px 0 14px;
  white-space: nowrap;
  position: relative;

  background: -moz-linear-gradient(top, #fed970 0%, #febc4a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fed970), color-stop(100%,#febc4a));
  background: -webkit-linear-gradient(top, #fed970 0%,#febc4a 100%);
  background: -o-linear-gradient(top, #fed970 0%,#febc4a 100%);
  background: linear-gradient(to bottom, #fed970 0%,#febc4a 100%);
  background-color: #FEC95B;

  color: #963;
  font: bold 11px/20px Arial, Tahoma, sans-serif;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,0.4);

  border-top: 1px solid #EDB14A;
  border-bottom: 1px solid #CE922E;
  border-right: 1px solid #DCA03B;
  border-radius: 1px 3px 3px 1px;
  box-shadow: inset 0 1px #FEE395, 0 1px 2px rgba(0,0,0,0.21);
}
.tag_item:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -6px;
  width: 10px;
  height: 10px;

  background: -moz-linear-gradient(45deg, #fed970 0%, #febc4a 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#fed970), color-stop(100%,#febc4a));
  background: -webkit-linear-gradient(-45deg, #fed970 0%,#febc4a 100%);
  background: -o-linear-gradient(45deg, #fed970 0%,#febc4a 100%);
  background: linear-gradient(135deg, #fed970 0%,#febc4a 100%);
  background-color: #FEC95B;

  border-left: 1px solid #EDB14A;
  border-bottom: 1px solid #CE922E;
  border-radius: 0 0 0 2px;
  box-shadow: inset 1px 0 #FEDB7C, 0 2px 2px -2px rgba(0,0,0,0.33);

  -webkit-transform: scale(1, 1.5) rotate(45deg);
  -moz-transform: scale(1, 1.5) rotate(45deg);
  -ms-transform: scale(1, 1.5) rotate(45deg);
  transform: scale(1, 1.5) rotate(45deg);
}
.tag_item:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 1px;
  width: 5px;
  height: 5px;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #DCA03B;
  box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.21);
}
footer.article-footer {margin: 30px 0;}
table.related-links {width: 100%;}
.related-links tr {width: 33%;}
.article-footer h3 {margin: 0 0 5px;}
.linklist {margin: 0 0 0 15px;}
.linklist li {list-style: none;}

/* article.post {
  margin: 0 4% 45px 0;
  padding: 15px;
  display: inline-block;
  width: 45%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: top;
} */
article.post {
  margin: 0 0 45px;
  padding: 5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: top;
}
/* @media (max-width:1220px){ article.post {width:44%;} }
@media (max-width:995px){ article.post {width:43%;} }
@media (max-width:700px){ article.post {width:42%;} }
@media (max-width:590px){ article.post {width:94%; margin-right: 0;} }
article.post:nth-child(even) {margin-right: 0;} */
/* article.post:hover {
  background: #FFF;
  -webkit-box-shadow: inset 0px 0px 5px 0px #ccc;
  -moz-box-shadow: inset 0px 0px 5px 0px #ccc;
  box-shadow: inset 0px 0px 5px 0px #ccc;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
} */
.posts_date {margin: 0 0 5px; line-height: 1; font-size: 12px; color: #666;}
.post h3 {margin: 0 0 5px;}
.post .post-content {color: #555;}
.post .post-content p {line-height: 1.2; margin: 0;}
.post .read_more {margin: 5px 0 0; font-size: 14px;}

.ico_github {
  -webkit-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s, color 0.2s linear 0.2s;
  -moz-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s, color 0.2s linear 0.2s;
  -o-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s, color 0.2s linear 0.2s;
  transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s, color 0.2s linear 0.2s;
  background-color: #f9f9f9; /* background default state */
  border-radius: 16px;
  color: rgba(255,255,255,0.1);
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
  /* overflow: hidden; */
  padding-right: 16px;
  position: fixed;
  text-decoration: none;
  text-indent: 30px;
  max-width: 0;
  white-space: nowrap;
  vertical-align: middle;
  text-align: right;
  right: 3px;
  top: 3px;
  z-index: 996;
}
.ico_github_icon {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  border-radius: 16px;
  color: rgba(255,255,255, 1);
  font-size: 1.3em;
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: 0;
  top: 0;
  width: 16px;
}
.ico_github:hover {
  -webkit-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s, color 0.2s linear 0.2s;
  -moz-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s, color 0.2s linear 0.2s;
  -o-transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s, color 0.2s linear 0.2s;
  transition: max-width 0.2s linear 0.2s, text-indent 0.2s linear 0.2s, color 0.2s linear 0.2s;
  color: rgba(255,255,255,1);
  max-width: 150px;
  text-indent: 20px;
} 
.ico_github:hover .ico_github_icon {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: transform 0.4s ease-out;
  -o-transition: -o-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  background: #f9f9f9 none;
}
/* add button */
.ico_github_type__add,
.ico_github_type__add .ico_github_icon {
  background: #f9f9f9 url(/img/github.png) no-repeat 0 0;
}
.ico_github_type__add:hover .ico_github_icon {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
/* remove button */
.ico_github_type__remove,
.ico_github_type__remove .ico_github_icon {
  background-color: #f26c4f;
}
.ico_github:hover {background: #f9f9f9 url(/img/github.png) no-repeat 0 0;}

a.name_logo {
  color: #333;
  text-shadow: 0px 1px 0px #555555, 0px 3px 3px rgba(0, 0, 0, 0.4);
}
a.name_logo:link, a.name_logo:visited {color: #333;}
#header .title h1:active a.name_logo {
  color:#333;
  text-shadow: 0px 0px 0px #555555, 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
.ch-grid:after {
    clear: both;
}
.ch-grid li {
    width: 180px;
    height: 180px;
    display: inline-block;
    margin: 0;
}
@media (max-width:1210px){ .ch-grid li {width: 145px; height: 145px;} }
@media (max-width:990px){ .ch-grid li {width: 115px; height: 115px;} }
.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  -webkit-perspective: 900px;
  -moz-perspective: 900px;
  -o-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}
.ch-info{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  background-size: 110%;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}
.ch-info .ch-info-front {
  box-shadow: inset 0 0 0 5px rgba(0,0,0,0.3);
}
.ch-info .ch-info-back {
  -webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  -moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  -o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  -ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
  background-image: url(/img/npofopr_me.jpg);
  opacity: 0;
}
.ch-img-1 { 
  background-image: url(/img/npofopr_180.png);
}
.ch-item:hover .ch-info-front {
  -webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  -ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
  opacity: 0;
}
.ch-item:hover .ch-info-back {
  -webkit-transform: rotate3d(1,0,0,0deg);
  -moz-transform: rotate3d(1,0,0,0deg);
  -o-transform: rotate3d(1,0,0,0deg);
  -ms-transform: rotate3d(1,0,0,0deg);
  transform: rotate3d(1,0,0,0deg);
  opacity: 1;
}
.pagination {text-align: center;}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.how_made {
  display: block;
  position: fixed;
  top: 25px;
  right: 12px;
  z-index: 997;
  color: #444 !important;
}
.how_made span {
  position: absolute;
  right: 15px;
  display: inline-block;
  top: 0;
  width: 200px;
  text-align: right;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.how_made:hover {color: #000 !important;}
.how_made:hover span {opacity: 1;}

.paged_post a.btn {border: 0 none;}
.paged_post a.btn:hover {
  border: 0 none;
  background: #333;
}

#back-top {
  position: fixed;
  bottom: 30px;
  margin-left: -150px; 
}
#back-top a {
  width: 108px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {color: #000;}
#back-top span {
  width: 108px;
  height: 108px;
  display: block;
  margin-bottom: 7px;
  background: #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover span {background-color: #777;}
.edit_post>span {border-bottom: 0 none;}