<div class="row"><!--row-->
    <div class="span3 profile-image"><!--column 3/12-->
        <div id="te-wrapper" class="te-wrapper"><!-- te-wrapper -->
            <ul class="ch-grid">
                <li>
                    <div class="ch-item">               
                        <div class="ch-info">
                            <div class="ch-info-front ch-img-1"></div>
                            <div class="ch-info-back"></div>  
                        </div>
                    </div>
                </li>
            </ul>
        </div><!-- end te-wrapper -->
    </div><!-- end column 3/12 -->
    <div class="span4"><!--column 4/12-->
         <!-- about me text --> 
         <h2><span class="label primary">css-lover</span></h2>
         <p>Обычный верстальщик, до <a rel="nofollow" class="roll_link" href="http://css-live.ru/faq/put-verstalshhika.html" target="_blank"><span data-title="веб-мастера">веб-мастера</span></a> мне еще долековато) Приветствую принцип: "<span class="hint  hint--top" data-hint="Сфокусирована на создании веб-сайта для наиболее продвинутого браузера. Пользователи старых браузеров контент получат не в лучшем виде, но все же получат.">graceful degradation</span>".</p>
         <!-- end about me text --> 

         <!-- inline video example -->  
         <!--<div class="video-wrap">
            <iframe src="http://player.vimeo.com/video/49225173?title=0&amp;byline=0&amp;portrait=0&amp;color=FFE04F" width="500" height="281"></iframe> 
         </div>-->
         <!-- inline video example -->

         <h3>Давайте общаться!</h3>
         <ul class="social"><!-- social icons -->
            <li><a class="facebook" href="http://facebook.com/npofopr">&#88;</a></li>
            <li><a class="twitter" href="http://twitter.com/npofopr">&#95;</a></li>
            <li><a class="linkedin" href="http://www.linkedin.com/pub/vladislav-altyncev/43/969/4a5">&#118;</a></li>
            <li><a class="google" href="http://plus.google.com/u/0/101977946165928245952/posts">&#107;</a></li>
            <li><a class="vimeo" href="http://vimeo.com/altyncev">&#33;</a></li>
            <li><a class="pinterest" href="http://pinterest.com/npofopr/">P</a></li>
            <li><a class="lastfm" href="http://www.lastfm.ru/user/npofopr">&#117;</a></li>
            <li><a class="youtube" href="http://youtube.com/npofopr">&#39;</a></li>
            <li><a class="friendfeed" href="http://friendfeed.com/npofopr">&#102;</a></li>
            <li><a class="github" href="http://github.com/npofopr">&#106;</a></li>
            <!--<li><a class="soundcloud" href="#">S</a></li>-->
            <!--<li><a class="flickr" href="#">&#98;</a></li>
            <li><a class="picassa" href="#">&#56;</a></li>
            <li><a class="skype" href="npofopr">&#58;</a></li>
            <li><a class="dribble" href="#">&#83;</a></li>
            <li><a class="rss" href="#">&#42;</a></li>
            <li><a class="forrst" href="#">&#100;</a></li>
            <li><a class="behance" href="#">&#71;</a></li>
            <li><a class="tumblr" href="#">&#92;</a></li>
            <li><a class="blogger" href="#">&#74;</a></li>
            <li><a class="delicious" href="#">&#76;</a></li>
            <li><a class="digg" href="#">&#81;</a></li>
            <li><a class="wordpress" href="#">$</a></li>
            <li><a class="blogger" href="#">1</a></li>-->
        </ul><!-- social icons -->  
    </div><!-- end column 4/12 -->
    <div class="span5"><!--column 5/12-->
         <ul class="personal-info"><!-- personal info -->
            <li><span class="title">NAME</span><span class="value">Владислав Алтынцев</span></li>
            <li><span class="title">AGE</span><span class="value">24</span></li>
            <li><span class="title">ADDRESS</span><span class="value">Perm, Russia</span></li>
            <li><span class="title">E-MAIL</span><span class="value"><a class="roll_link" href="mailto:v@altyncev.ru"><span data-title="v@altyncev.ru">v@altyncev.ru</span></a></span></li>
            <li><span class="title">SKYPE</span><span class="value">npofopr</span></li>
            <li><span class="title">FREELANCE</span><span class="value"><i class="not_available"></i>Not Available</span></li>
         </ul><!-- end personal info -->

        <ul class="social-likes social-likes_single" data-single-title="Поделиться">
            <li class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</li>
            <li class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</li>
            <li class="mailru" title="Поделиться ссылкой в Моём мире">Мой мир</li>
            <li class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</li>
            <li class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">Одноклассники</li>
            <li class="plusone" title="Поделиться ссылкой в Гугл-плюсе">Google+</li>
        </ul>

    </div><!-- end column 5/12 -->
    <!-- flowers <div class="span4">
        
        <div class="text">До ВЕСНЫ осталось:</div>
        <div id="defaultCountdown"></div>
        <ul id="flowers">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        
    </div> .end flowers -->
</div><!-- end row -->