<div class="container">
    <div class="row">  <!--row--> 
        <div class="span5"><!--column 7/12-->
                <!-- CONTACT FORM -->
                <iframe height="600" src="http://shadow.perm.ru/form/index.php" frameborder="0" width="100%" allowtransparency="" seamless=""></iframe>
                <!-- end CONTACT FORM-->
        </div><!-- end column 7/12-->
        <div class="span7"><!--column 5/12-->
        </div><!-- end column 5/12-->
    </div><!-- end row-->
</div>