<div class="row"><!--row-->
    <div class="span6"><!--column 6/12-->
        <div class="history-group"><!-- EMPLOYMENT -->
            <h3><span class="label black">Занятость</span></h3>
            
            <div class="history-unit">
                <h4>Web Developer <span class="work-time">2011 - Present</span></h4>
                <h5>@Datakit_ru</h5>
                <p>Верстальщик сайтиков и занятость в их поддержке</p>
            </div>
            
            <div class="history-unit">
                <h4>Лаборант <span class="work-time">2006 - 2009</span></h4>
                <h5>ИОЦ - Perm State Pedagogical University</h5>
                <p>anykey)</p>
            </div>
        
        </div><!-- end EMPLOYMENT -->
        <div class="history-group"><!-- EDUCATION -->
        
            <h3><span class="label black">Образование</span></h3>
            
            <div class="history-unit">
                <h4>Инженер <span class="work-time">2010 - 2012</span></h4>
                <h5>Perm National Research Polytechnic University</h5>
                <p>2 года на электротехе)</p>
            </div>
            
            <div class="history-unit">
                <h4>Учитель информатики <span class="work-time">2007 - 2009</span></h4>
                <h5>Пермский педагогический колледж №4</h5>
            </div>

            <div class="history-unit">
                <h4>Учитель физики-информатики <span class="work-time">2005 - 2007</span></h4>
                <h5>Perm State Pedagogical University</h5>
                <p>2 года на физ.факе)</p>
            </div>
        
        </div><!-- end EDUCATION -->
        <!-- <div class="launch cv">
            <a href="#" class="btn">DOWNLOAD CV</a>
        </div> -->
    </div><!-- end column 6/12-->
    <div class="span5 offset1"><!--column 6/12-->
        <div class="history-group"><!-- DEV SKILLS -->
            <h3><span class="label black">Development Skills</span></h3>
            
            <div class="history-unit">
                <h4>HTML</h4>
                <div class="bar" data-percent="90">
                    <div class="progress"></div>
                </div>
            </div>
            
            <div class="history-unit">
                <h4>CSS</h4>
                <div class="bar" data-percent="90">
                    <div class="progress"></div>
                </div>
            </div>
            
            <div class="history-unit">
                <h4>jQuery</h4>
                <div class="bar" data-percent="40">
                    <div class="progress"></div>
                </div>
            </div>
            
            <div class="history-unit">
                <h4>Wordpress</h4>
                <div class="bar" data-percent="40">
                    <div class="progress"></div>
                </div>
            </div>

        </div><!-- end DEV SKILLS -->
        <div class="history-group"><!-- end DESIGN SKILLS -->
            <h3><span class="label black">Design Skills</span></h3>
            
            <div class="history-unit">
                <h4>Photoshop</h4>
                <div class="bar" data-percent="60">
                    <div class="progress"></div>
                </div>
            </div>

            <div class="history-unit">
                <h4>Fireworks</h4>
                <div class="bar" data-percent="20">
                    <div class="progress"></div>
                </div>
            </div>
            
            <div class="history-unit">
                <h4>Corel</h4>
                <div class="bar" data-percent="20">
                    <div class="progress"></div>
                </div>
            </div>
        
        </div><!-- end DESIGN SKILLS -->
    </div><!-- end column 6/12-->
</div><!-- end row-->