<div class="row">  <!--row--> 
    <div class="span12">
        <p>Мои желаения не только материальны)</p>
        <ol class="well">
            <li>ПОРАБОТИТЬ МИР!</li>
            <li>Sony Xperia Z )</li>
            <li>Ретину</li>
        </ol>

        <hr>
        <p>Добавить на сайт:</p>
        <ol>
            <li>Добавить к меню пунктир?</li>
            <li>Кнопка http://codepen.io/bennettfeely/pen/ErFGv</li>
            <li>Вывод статей с пейджингом <s>и анонсом</s></li>
            <li>Форма поиска</li>
            <li>Сортировка по тегам?</li>
            <li><s>Форма обратной связи</s></li>
            <li>Не знаю зачем, но добавить игру <a class="roll_link" href="http://cssdeck.com/labs/html5-doodle-jump/8" target="_blank"><span data-title="Прыгай вверх)">Прыгай вверх)</span></a></li>
            <li>Нравится <a class="roll_link" href="https://coderwall.com/p/xrxaxa" target="_blank"><span data-title="считалка лайков">считалка лайков</span></a></li>
            <li><s>Было бы круто сделать rss?</s></li>
            <li><s>Подстветка синтаксиса</s></li>
            <li><s>Стилизовать вывод тегов</s></li>
        </ol>
    </div>
</div><!-- end row-->